.card {
  width: 50rem;
  height: auto;
  margin: 5rem auto 0;
  padding: 1rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: $all-shadow;
  border-radius: 1rem;
  &__title {
    color: $color-primary;
    margin-bottom: 1rem;
  }
  &__content {
  }
}
