.contact-form {
  &__names {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}

/* MOBILE */
@media all and (max-width: $breakpoint-mobile) {
  .contact-form {
    &__names {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}
