.dashboard-layout {
  &__pdfCards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    & .PDF-card {
      margin: 5px;
    }
  }
  &__partners {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    & .partner {
      width: 20rem;
      height: 5rem;
      padding: 3rem;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      border: solid 1px $color-primary;
    }
  }
}

#heroForm {
  margin-top: 0.5rem;
  input,
  textarea {
    width: 30rem;
    padding: 0.5rem;
  }
  textarea {
    height: 13rem;
  }
}

#partnerForm {
  input {
    width: 16rem;
  }
}

/* PETIT ECRAN */
@media all and (max-width: $breakpoint-small-screen) {
  .dashboard-layout {
    &__pdfCards {
      & .PDF-card {
        margin: 2px;
      }
    }
  }
}

/* SMARTPHONE */
@media all and (max-width: $breakpoint-smartphone) {
  .dashboard-layout {
    &__partners {
      & .partner {
        width: 10rem;
        padding: 3rem 1rem;
      }
    }
  }
  #heroForm,
  #partnerForm {
    margin-top: 0.5rem;
    input,
    textarea {
      width: 16rem;
      padding: 0.5rem;
    }
    textarea {
      height: 8rem;
    }
  }
}
