.dashboard-layout {
  &__pdfCards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    & .PDF-card {
      margin: 5px;
    }
  }
  &__partners {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    & .partner {
      width: 20rem;
      height: 15rem;
      padding: 0.5rem;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      border: solid 1px $color-primary;
      & .line {
        margin-top: 0.5rem;
      }
      &__title {
        margin: 0 auto;
      }
      &__logo {
        width: 10rem;
        margin: 0 auto;
        & img {
          width: 90%;
        }
      }
    }
  }
  &__grades {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    & ._grade {
      width: 20rem;
    }
  }
}

#heroForm {
  margin-top: 0.5rem;
  width: auto;
  label {
    font-weight: bold;
  }
  input,
  textarea {
    width: 30rem;
    padding: 0.5rem;
  }
  textarea {
    height: 13rem;
  }
  #fileInput {
    width: auto;
  }
  text-align: center;
  .line {
    margin: 1rem auto;
    height: 1.5px;
  }
}

#partnerForm {
  input {
    width: 16rem;
  }
}

#gradeForm {
  padding-top: 0.5rem;
  & input {
    width: 17rem;
  }
  .grade-form__numbers {
    width: 12rem;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    & input {
      width: 3rem;
    }
  }
}

/* PETIT ECRAN */
@media all and (max-width: $breakpoint-small-screen) {
  .dashboard-layout {
    &__pdfCards {
      & .PDF-card {
        margin: 2px;
      }
    }
    &__partners {
      & .partner {
        height: 12rem;
        padding: 0rem;
      }
    }
  }
}

/* MOBILE */
@media all and (max-width: $breakpoint-mobile) {
  .dashboard-layout {
    &__partners {
      & .partner {
        width: 12rem;
        padding: 0.5rem;
      }
    }
  }
  #heroForm,
  #partnerForm {
    margin-top: 0.5rem;
    input,
    textarea {
      width: 16rem;
      padding: 0.5rem;
    }
    textarea {
      height: 8rem;
    }
  }
}
