.dashboard-layout {
  &__pdfCards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    & .PDF-card {
      margin: 5px;
    }
  }
}
.addPDFButton {
  width: 10rem;
  background-color: $color-primary;
  font-weight: bold;
  margin: 1rem auto;
}

/* PETIT ECRAN */
@media all and (max-width: $breakpoint-small-screen) {
  .dashboard-layout {
    &__pdfCards {
      & .PDF-card {
        margin: 2px;
      }
    }
  }
}
