.hero {
  background: url("/hero.jpg");
  background-size: cover;
  background-position-y: 30%;

  height: 100vh;
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  &__title {
    animation: down-slide-apparition 0.8s ease-out;
  }
  &__catchphrase {
    animation: down-slide-apparition 0.8s ease-out;
    background-color: rgba($background-prim, 0.8);
    border-radius: 4%;
    padding: 0.5rem;
  }
  &__content {
    padding: 0.5rem;
    opacity: 0;
    animation: shade-apparition 1s 0.6s forwards;
    width: 50%;
    text-align: center;
    background-color: rgba($background-prim, 0.8);
    border-radius: 4%;
  }
}
