.link-card {
  width: auto;
  height: auto;
  padding: 1rem;
  margin: auto 1rem;
  display: flex;
  justify-content: column;
  text-align: center;
  color: rgba(black, 0.7);
  opacity: 0.7;
  transition: all 0.4s;
  &:hover {
    color: rgba($color-primary, 1);
    text-shadow: $regular-shadow;
  }
  &__icon {
    margin-bottom: 1rem;
    & i {
      font-size: 3rem;
    }
  }
  &__title {
  }
}
