.settings {
  height: 100vh;
  &__title {
    padding-top: 1rem;
    text-align: center;
    color: $color-primary;
  }
  &__button {
    margin-top: 1rem;
  }
  &__content {
    .card {
      max-width: 60%;
      height: 20rem;
      margin: 2rem auto;
      padding: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      box-shadow: $all-shadow;
      border-radius: 1rem;
      &__content {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
      }
      & input {
        width: 16rem;
        margin-bottom: 0.5rem;
      }
    }
  }
}

/* SMARTPHONE */
@media all and (max-width: $breakpoint-smartphone) {
  .settings {
    &__title {
      width: 20rem;
      margin: auto;
    }
    &__content {
      .card {
        max-width: 90%;
        height: auto;
        margin: 1rem auto;
        padding: 1rem;
        &__content {
          flex-direction: column;
        }
        & input {
          width: 16rem;
        }
      }
    }
  }
}
