.slider {
  height: 25rem;
  margin-top: $between-blocks;
  &__title {
    max-width: 50%;
    margin: auto;
    text-align: center;
    background-color: rgba($color-primary, 0.8);
  }
  &__carousel {
    .carousel {
      max-width: 50%;
      height: 20rem;
      &-root {
        display: flex;
        justify-content: center;
      }
      .slide {
        text-align: center;
        background-color: $color-primary;
        color: #fff;
        &__title {
          margin: 0.8rem 0 1rem 0;
        }
        &__text {
          margin: auto;
          width: 50rem;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .carousel .slide img {
    width: 100vw !important;
    height: 40vh;
    object-fit: cover;
  }
} ;
