// Colors
$background-prim: rgb(247, 247, 247);

$color-primary: #45645b;
$color-secondary: #a9a57c;

$color-danger: #ee3939ca;
$color-success: #63eb47ca;
$color-edit: #63b2e0;

// Shadows
$regular-shadow: #00000029 3px 3px 6px;
$all-shadow: #00000029 1px 6px 6px;

// Radius
$regular-radius: 2%;

// Breakpoints
$breakpoint-large-screen: 1401px;
$breakpoint-small-screen: 1400px;
$breakpoint-mobile: 800px;
$breakpoint-small-mobile: 400px;

// Margin & Padding
@mixin margin-between-blocks() {
  @media all and (min-width: $breakpoint-large-screen) {
    margin-top: 1rem;
  }
  @media all and (max-width: $breakpoint-small-screen) {
    margin-top: 1rem;
  }
}
