// Colors
$background-prim: rgb(247, 247, 247);

// $color-primary: rgb(102, 0, 0);
$color-primary: #318f1fca;
// $color-secondary:

$color-danger: #ee3939ca;
$color-success: #63eb47ca;

// Breakpoints
$breakpoint-large-screen: 1401px;
$breakpoint-small-screen: 1400px;
$breakpoint-smartphone: 800px;
$breakpoint-small-smartphone: 400px;

// Shadows
$all-shadow: #00000029 1px 6px 6px;

// Margin & Padding
@mixin margin-between-blocks() {
  @media all and (min-width: $breakpoint-large-screen) {
    margin-top: 1rem;
  }
  @media all and (max-width: $breakpoint-small-screen) {
    margin-top: 1rem;
  }
}
