// Colors
$background-prim: rgb(247, 247, 247);

// $color-primary:
// $color-secondary:

$color-danger: #ee3939ca;
$color-success: #57ee39ca;

// Breakpoints
$breakpoint-small-screen: 1400px;
$breakpoint-smartphone: 800px;
$breakpoint-small-smartphone: 400px;
