@import url("https://fonts.googleapis.com/css2?family=Asap&family=Asap+Condensed&display=swap");

p {
  font-family: "Asap", sans-serif;
  line-height: 1.5;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2.2rem;
  font-family: "Asap Condensed", sans-serif;
}
h4 {
  font-size: 2rem;
}
h5 {
  font-size: 1.8rem;
}

.italic {
  font-style: italic;
}
.bold {
  font-weight: bold;
}
