.half-blocks {
  display: flex;
  flex-direction: row;
  height: 33rem;
  &__cards {
    // opacity: 0;
    // animation: right-slide-apparition 1s 0.8s forwards;
    width: 50%;
    height: 22rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5rem;
  }
  &__image {
    margin-top: 2rem;
    border-radius: 2%;
    width: 50%;
    height: 30rem;
    overflow: hidden;
  }
}

.img-right {
  margin-right: 2rem;
}
.img-left {
  margin-left: 2rem;
}
