.half-blocks {
  display: flex;
  flex-direction: row;
  height: 33rem;
  &__cards {
    // opacity: 0;
    // animation: right-slide-apparition 1s 0.8s forwards;
    width: 45%;
    height: 23rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 4rem 1rem 0;
    background-color: rgba($color-primary, 0.8);
    border-radius: 2%;
    box-shadow: $all-shadow;
  }
  &__image {
    @include margin-between-blocks();
    border-radius: 2%;
    width: 50%;
    height: 30rem;
    overflow: hidden;
    img {
      border-radius: 2%;

      box-shadow: $all-shadow;
    }
  }
}

.img-right {
  margin-right: 2rem;
}
.img-left {
  margin-left: 2rem;
}

/* PETIT ECRAN */
@media all and (max-width: $breakpoint-small-screen) {
  .half-blocks {
    height: 26rem;
    &__cards {
      height: 18rem;
    }
  }
}
