.footer {
  height: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  @include margin-between-blocks();
  &__content {
    width: 80%;
    border-top: 0.5px solid $color-primary;
    text-align: center;
    font-size: 0.8rem;
    padding-top: 1rem;
    .signature {
      p {
        margin-top: 5px;
      }
      display: inline;
      color: $color-primary;
      font-weight: bold;
    }
    &:hover .signature p {
      animation: shake 0.5s forwards;
    }
  }
}

/* MOBILE */
@media all and (max-width: $breakpoint-mobile) {
  .footer {
    margin-top: 2.5rem;
  }
}
